* {
    font-family: "Roboto", serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

header,
.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

header {
    display: flex;
    padding: 14px 15%;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

header a {
    color: #F9FAF8;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: auto;
    width: 16%;
}

.hero {
    display: flex;
    padding: 10% 15%;
    gap: 3%;
    font-size: 18px;
    text-align: left;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;

}

.hero p {
    color: #e5e7ebc3;
}

.hero-image {
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    padding-left: 10px;

}

.hero-image img {
    width: 100%;
    height: 100%;
}

.hero-image:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-box-shadow: inset 0px 0px 10px 10px #1F2937;
    -webkit-box-shadow: inset 0px 0px 10px 10px #1F2937;
    box-shadow: inset 0px 0px 10px 10px #1F2937;
}

.sign-up {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 8px 20px;
    border: none;
    margin: 10px 0 10px 0;
}


main {
    display: flex;
    flex-flow: column nowrap;
}

.main-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 15%;
    gap: 30px;
    text-align: center;
    color: #5a5a5a;
}

.main-up h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.img-subtext-container {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    margin-bottom: 100px;
}

.img-subtext {
    width: 175px;
}

.img-subtext div {
    border-radius: 35px 35px 35px 35px;
    -webkit-border-radius: 35px 35px 35px 35px;
    -moz-border-radius: 35px 35px 35px 35px;
    border: 5px solid #50a9ff;
    box-sizing: border-box;
    height: 175px;
    width: 175px;
}

.img-subtext img {
    height: 175px;
    width: 175px;
}

.main-center {
    background-color: #E5E7EB;
    padding: 10% 25%;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-author {
    align-self: flex-end;
    font-weight: 900;
    font-size: 26px;
    color: #1F2937;
}

.main-down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8% 15%;
}

.sign-up-reminder {
    display: flex;
    align-content: center;
    justify-content: space-around;
    background-color: #3882F6;
    color: #FFF;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    padding: 4% 8%;
    font-size: 22px;
    width: 100%;
}


.sign-up-reminder p {
    font-size: 15px;
}


.sign-up-reminder button {
    border-radius: 14px 14px 14px 14px;
    -webkit-border-radius: 14px 14px 14px 14px;
    -moz-border-radius: 14px 14px 14px 14px;
    border: 2px solid #FFF;
    background-color: #3882F6;
    color: #FFF;
    width: 120px;
    height: 35px;
    margin-top: auto;
    font-size: 16px;
    font-weight: 600;
}

footer {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    color:#FFF;
    padding: 3% 0;
}